<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户管理中心</title>
    <link href="~/static/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin" style="width:100%">
        <div class="layui-header">
            <div class="layui-logo"></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            @*<ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>*@
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">

                            <img src=" @ViewBag.userImg" class="layui-nav-img">
                            <span>@ViewBag.userName</span>
                        </a>
                   
                    </li>
                    <li class="layui-nav-item"><a href="">  注销</a></li>
                </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">管理我的文章</a>
                      
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">管理我的个人资料</a>
                        
                    </li>
                    <li class="layui-nav-item"><a href="">待添加</a></li>
                    <li class="layui-nav-item"><a href="">待添加</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">   @RenderBody()</div>
        </div>

        <div class="layui-footer">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p>博客博客大博客 </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            蒋金园|石光|赵赛阳|周家宝
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/static/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</body>
</html>