
@{
    ViewBag.Title = "MyArticles";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- 图标 -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- 公共图标 css-->
    <link href="~/static/css/icomoon.css" rel="stylesheet" />
    <!-- Bootstrap  -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- 视频处理  -->


    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/static/css/owl.theme.default.min.css">

    <!-- 以鹿为梦 style  -->
    <link rel="stylesheet" href="~/static/css/style.css">
    
    <!-- Modernizr JS -->
    <script src="~/static/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <div id="colorlib-container">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-4.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：5019</a></span>
                                <span class="date">1小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">HIPHOP的起源与含义</a></h2>
                            <p class="fontPage-size">hip-hop是源自于街头的一种文化，也泛指rap（说唱乐）。hip-hop 文化的四种表现方式包括m-cing（有节奏、押韵地说话后来演变成rap）</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-5.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">HIPHOP的历史</a></h2>
                            <p class="fontPage-size"> hip-hop是20多年前始于美国街头的一种黑人文化，也泛指rap（说唱乐）。hip-hop 文化的四种表现方式包括rap （有节奏、押韵地说话）、b-boying（街 舞）、dj-ing（玩唱片及唱盘技巧）</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-6.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">嘻哈知识普及</a></h2>
                            <p class="fontPage-size">说唱歌手，又称rapper或者MC。关于MC一称的起源有多种说法，有一部分人认为它来自于Master of Ceremonies，还有人认为它是Microphone Controller，也有人认为emcee才是MC的出处。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-1.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">老派说唱 Old School</a></h2>
                            <p class="fontPage-size">这段时间内的嘻哈文化和服饰受放克和迪斯科影响很大，有许多现场乐队，并且说唱内容都关于派对 </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-2.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">新派说唱 New School</a></h2>
                            <p class="fontPage-size">随着电子鼓机的发展，说唱音乐开始简单化，说唱歌手开始自夸并谈论社会问题，态度激进，艺人形象强硬，街头，酷感十足 </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-12.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">帮匪说唱 GangstaRap</a></h2>
                            <p class="fontPage-size">帮匪说唱中谈及的都是贫民窟中青年帮派份子的生活，涉及暴力，毒品，性，帮派，种族冲突，犯罪，酒精，物质至上等</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-8">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <div class="video colorlib-video" style="background-image: url(../images/blog-8.jpg);">
                                <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play"></i></a>
                                <!--<a href="../video/test.mp4" class="popup-vimeo"><i class="icon-play"></i></a>-->
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">觉得自己很懂HIPHOP？这些基础术语你知不知道</a></h2>
                            <p>1.Intro 专辑里的引子或序曲 2.BarRap里的一行词。行与行之间有停顿 3.Verse主歌。Verse由Bar组成，一般来说，一段Verse有16Bars，一首Rap歌曲有2段或3段Verse组成</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-7.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">都来说说你了解的嘻哈</a></h2>
                            <p>感觉还是有很多人对嘻哈的了解只停留在吵吵闹闹，觉得说唱只是不好好唱歌的念字比赛而已（包括我自己）。。怎样判断一个rapper的段位是否高深呢？最近确实中毒某综艺。。。组里应该还是有高人的吧，愿闻其详啊</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-9.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">Recipe for your site</a></h2>
                            <p>A small river named Duden flows by their place and supplies it with the necessary </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-10.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">Recipe for your site</a></h2>
                            <p>A small river named Duden flows by their place and supplies it with the necessary </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-11.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">Recipe for your site</a></h2>
                            <p>A small river named Duden flows by their place and supplies it with the necessary </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-slider">
                            <div class="owl-carousel">
                                <div class="item">
                                    <a href="blog.html" class="image-popup-link"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-3.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                                </div>
                                <div class="item">
                                    <a href="blog.html" class="image-popup-link"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-4.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                                </div>
                                <div class="item">
                                    <a href="blog.html" class="image-popup-link"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-5.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                                </div>
                                <div class="item">
                                    <a href="blog.html" class="image-popup-link"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-14.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">Recipe for your site</a></h2>
                            <p>A small river named Duden flows by their place and supplies it with the necessary </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="blog.html"><img onerror="this.src='../images/sys/error-img.png'" src="../images/blog-13.jpg" class="img-responsive" alt="html5 bootstrap template"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">阅读量：51</a></span>
                                <span class="date">16小时前</span>
                                <span class="pos"><i class="icon-tag"></i>评论数： <a href="#">5</a></span>
                            </p>
                            <h2><a href="blog.html">Recipe for your site</a></h2>
                            <p>A small river named Duden flows by their place and supplies it with the necessary </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 页码栏   start -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- 页码栏   end -->
        </div>
    </div>

    <!-- js引入  start -->
    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/static/js/bootstrap.min.js"></script>

    <!-- Waypoints -->
    <script src="~/static/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="~/static/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="~/static/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/static/js/jquery.magnific-popup.min.js"></script>
    <script src="~/static/js/magnific-popup-options.js"></script>
    <!-- Main -->
    <script src="~/static/js/main.js"></script>
   
    <!-- js引入  end -->

</body>
</html>
